<div class="container text-center mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <img
        src="assets/images/notFound/not-found.png"
        height="300"
        alt="not-found"
        class="img-fluid"
      />
      <h1 class="mt-4">Oops! Page Not Found</h1>
      <p class="lead">
        Well, this is awkward. The page you're looking for doesn't seem to
        exist.
      </p>
      <p>
        Is this your site?
        <a href="#" class="text-primary fw-bold">Get more info</a>
        or
        <a href="#" class="text-primary fw-bold">Contact support</a>.
      </p>
      <a href="/" class="btn btn-primary mt-3">Go Back Home</a>
    </div>
  </div>
</div>
