<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <img
      src="/assets/images/logo/logo.jpg"
      alt="Logo"
      width="100"
      height="25"
      class="me-2"
    />
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <span class="fs-4 fw-bold">E-Store</span>
    </a>

    <div>
      <a routerLink="/test">test</a>
    </div>

    <!-- Toggler Mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/profile"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Contact</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/product/add"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Add product</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/category/add"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Add category</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
